name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Neovim
      run: |
        wget -q https://github.com/neovim/neovim/releases/download/v0.10.3/nvim-linux64.tar.gz
        tar xzf nvim-linux64.tar.gz
        sudo mv nvim-linux64 /opt/nvim
        sudo ln -s /opt/nvim/bin/nvim /usr/local/bin/nvim

    - name: Install luarocks
      run: |
        sudo apt-get install -y luarocks

    - name: Install luacheck
      run: |
        sudo luarocks install luacheck

    - name: Install stylua
      run: |
        wget -qO- https://github.com/JohnnyMorganz/StyLua/releases/latest/download/stylua-linux-x86_64.zip -O stylua.zip
        unzip stylua.zip
        chmod +x stylua
        sudo mv stylua /usr/local/bin/

    - name: Install plenary.nvim
      run: |
        git clone https://github.com/nvim-lua/plenary.nvim.git ../plenary.nvim

    - name: Install nvim-treesitter (pinned)
      run: |
        git clone https://github.com/nvim-treesitter/nvim-treesitter.git ../nvim-treesitter
        git -C ../nvim-treesitter checkout 2ba5ec184609a96b513bf4c53a20512d64e27f39

    - name: Run pr_ready
      run: make pr_ready
